---
import Tag from './Tag.astro';
import type {CollectionEntry} from 'astro:content';
import {getEntries} from 'astro:content';

interface Props {
  project: CollectionEntry<'projects'>
}

const {project} = Astro.props;

const {source, title, description, year, tags} = project.data;

const projectTags = await getEntries(tags);
const tagData = projectTags.map(pt => pt.data);
---

<div class="flex flex-col p-2 rounded border-2 bg-jet border-space py-5 gap-3">
  <a class="hover:underline text-lg" href={source} target="_blank" rel="noopener noreferrer">{title}</a>
  <div class="text-sm text-ash">
    {description}
  </div>
  <div class='flex justify-between'>
    <nav>
      <ul class="flex flex-wrap gap-2 text-nowrap">
        {tagData.map(td => <li><Tag url={td.url} text={td.text}/></li>)}
      </ul>
    </nav>
    <div class="text-cerulean">
      {year}
    </div>
  </div>
</div>
