---
const {route, text, isExternal} = Astro.props;
const {pathname} = Astro.url

const target = isExternal ? '_blank' : '_self'
const rel = isExternal ? 'noopener noreferrer' : undefined

const activePage = pathname === route

const color = activePage ? 'text-cerulean' : 'text-ash'
const borderColor = activePage ? 'border-cerulean' : 'border-ash'

let linkStyle = `
  px-2
  py-1
  rounded
  border-2
  active:scale-[.97]
  transition
  ease-in-out
  hover:text-cerulean
  hover:border-cerulean
  ${color}
  ${borderColor}
`
---

<a 
  class={linkStyle}
  href={route}
  target={target}
  rel={rel}
>
  {text}
</a>