---
import Layout from "../layouts/Layout.astro"
import PostListItem from "../components/Blog/PostListItem.astro"
import {posts} from '../atoms/blogStore'

const allPosts = posts.get()
const postsByYear: PostsByYear = {}

allPosts.forEach(post => {  
  const postYear = post.publishDate.getFullYear().toString()

  if (!Object.hasOwn(postsByYear, postYear)) {
    postsByYear[postYear] = []
  }

  postsByYear[postYear].push(post)
})

const sortedYears = Object.keys(postsByYear).toSorted().toReversed()
---

<Layout>
  <h1>Blog</h1>
  {sortedYears.map(year => {
    return (
      <h2>{year}</h2>
      <ul>
        {postsByYear[year].map(post => {
          const formattedDate = post.publishDate.toLocaleString('default', { day: '2-digit', month: 'short', year: 'numeric' });
          const shortDate = formattedDate.split(', ')[0]
          return <PostListItem title={post.title} slug={post.slug} formattedDate={shortDate}/>
        })}
      </ul>
    )
  })}
</Layout>