---
import Layout from '../layouts/Layout.astro';

const sectionHeader = 'my-3';
const jobHeader = 'flex justify-between font-semibold';
const jobDescription = 'mb-3 ml-6';
const jobList = 'list-disc marker:text-gray';
const achievement = 'flex justify-between my-0';
---

<Layout>
  <div>
    <h1 class="my-2">Luke Hays</h1>
    <div>
      <h2 class={sectionHeader}>Experience</h2>

      <div class={jobHeader}>
        <p>Software Engineer, SingleStone Consulting</p>
        <p>Nov 2021 - Present</p>
      </div>
      <ul class={jobList}>
        <li class={jobDescription}>
          Consulted on front-end development for a third-party risk management tool used by a Fortune 500 financial client, resulting in two contract extensions and generating over $2M in additional revenue.
        </li>
        <li class={jobDescription}>
          Implemented a major third-party dependency upgrade, addressing deprecated APIs and completing the task 9 sprints ahead of the initial 12-sprint schedule.        
        </li>
        <li class={jobDescription}>
          Coordinated two teams to achieve 80% unit test coverage for a React application using Jest.
        </li>
        <li class={jobDescription}>
          Led a team of three developers in launching the initial phase of a mental health practitioners' finder and registry tool using Next.js, successfully meeting a rigorous six-week deadline.
        </li>
      </ul>

      <div class={jobHeader}>
        <p>Software Engineer, LexisNexis Risk Solutions</p>
        <p>Nov 2019 - Nov 2021</p>
      </div>
      <ul class={jobList}>
        <li class={jobDescription}>
          Engineered an inventory management system that integrated desktop and web platforms using C# and SQL Server.
        </li>
        <li class={jobDescription}>
          Addressed and mitigated a denial of service attack on a public-facing web application by implementing Google CAPTCHA and refactoring sequential IDs in routing.
        </li>
        <li class={jobDescription}>
          Automated a monthly data entry process by developing scripts for parsing CSV files and importing data into SQL tables, resolving over 100,000 erroneous records.
        </li>
      </ul>

      <div class={jobHeader}>
        <p>Data Analyst, Battelle</p>
        <p>Nov 2018 - Nov 2019</p>
      </div>
      <ul class={jobList}>
        <li class={jobDescription}>
          Revamped laboratory user acceptance testing (UAT) process, reducing average bug reports by 50% during testing.
        </li>
        <li class={jobDescription}>
          Triaged an average of thirty level three database issues weekly, maintaining laboratory data integrity.
        </li>
        <li class={jobDescription}>
          Addressed and resolved bug reports for the Laboratory Information Management System using C# and ActiveReports.
        </li>
      </ul>
      <div class={jobHeader}>
        <p>Project Delivery Analyst, Deloitte (Contract)</p>
        <p>Dec 2017 - Nov 2018</p>
      </div>
      <ul class={jobList}>
        <li class={jobDescription}>
          Facilitated user acceptance testing for a software rollout, managing a team of twenty QA testers.
        </li>
        <li class={jobDescription}>
          Delivered software training and provided onsite support across seven regional offices, impacting over 70 employees.
        </li>
      </ul>
    </div>

    <div>
      <h2 class={sectionHeader}>Skills</h2>
      <ul>
        <li><span class="font-semibold">Languages:</span> TypeScript, JavaScript, HTML5, CSS3, SQL, Python</li>
        <li><span class="font-semibold">Technologies:</span> React, Node.js, Jest, Playwright, ESLint, Amazon Web Services, Git, Docker</li>
      </ul>
    </div>

    <div>
      <h2 class={sectionHeader}>Education</h2>
      <div class={achievement}>
        <p>Bachelor of Arts - BA, Studio Art, University of Kentucky</p>
        <p>2012-2017</p>
      </div>
    </div>

    <div>
      <h2 class={sectionHeader}>Certifications</h2>
      <ul>
        <li class={achievement}>
          <p>AWS Solutions Architect Associate </p>
          <p>Jul 2022</p>
        </li>
        <li class={achievement}>
          <p>CompTIA Security+</p>
          <p>Jun 2021</p>
        </li>
      </ul>
    </div>
  </div>
</Layout>