---
const {project, includeDetails} = Astro.props;

const {source, title, description, year, techStack} = project;
---

<div class="flex flex-col p-2 rounded border-2 bg-jet border-space">
  <a class="hover:underline" href={source} target="_blank" rel="noopener noreferrer">{title}</a>
  <div class="text-sm text-ash">
    {description}
  </div>
  {includeDetails &&
    <div class="flex justify-between">
      <div class="flex gap-2">
        {techStack.map((item: string) => <p>{item}</p>)}
      </div>
      <p>{year}</p>
    </div>
  }
</div>
